<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Post</title>
  </head>
  <body>
    <h1>Add New Blog Post</h1>

    <form method="post" action="{{ url_for('add') }}">
      {{ form.hidden_tag() }}

      <label for="author">Author:</label><br />
      {{ form.author(size=32) }}<br />
      {% for error in form.author.errors %}
      <span style="color: red">[{{ error }}]</span><br />
      {% endfor %}
      <br />

      <label for="title">Title:</label><br />
      {{ form.title(size=32) }}<br />
      {% for error in form.title.errors %}
      <span style="color: red">[{{ error }}]</span><br />
      {% endfor %}
      <br />

      <label for="content">Content:</label><br />
      {{ form.content(cols=50, rows=10) }}<br />
      {% for error in form.content.errors %}
      <span style="color: red">[{{ error }}]</span><br />
      {% endfor %}
      <br />

      <button type="submit">Add Post</button>
    </form>
  </body>
</html>
